body {
    background-color: powderblue;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;  /* backup font */
}     

h1.subheader{
    font-size: 100%;
}

h1 {
    color: black;
    font-weight: 200;        
}

.mainpage{
    background-color: #bbc3ce;
    margin: auto;
    width: 80%;
    border: 3px solid #000a00;
    padding: 10px;
}

p {
    color: darkblue;
}

p.confirm{
    color: darkred;
    font-style: bolder;
}

a {
    color: darkblue;
}

.options {
    font-size: 150%;
        }

#brought2u {
    font-style: italic;
    color: black;
}

.success{
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 44px;
    font-color: grey;
}

form.form_body{
    background-color: #bbc3ce;
    margin: auto;
    width: 80%;
    padding: 5px;
}

.btn {
  background-color: #0065ff;
  border: double;
  color: white;
  padding: 18px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #ff5d00;
}
