body {
    background-color: #90969e;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}     

h1 {
    color: black;
    font-weight: 200;        
}

.mainpage{
    background-color: #bbc3ce;
    margin: auto;
    width: 80%;
    border: 3px solid #000a00;
    padding: 10px;
}

p {
    color: darkblue;
}

p.confirm{
    color: darkred;
}

a {
    color: darkblue;
}

.options {
    font-size: 150%;
        }

#brought2u {
    font-style: italic;
    color: black;
}

.form_subheader{
    
}

.success{
    font-family: 'Ma Shan Zheng', cursive;
    font-family: 'My Soul', cursive;
    font-family: 'Roboto', sans-serif;
}