<!DOCTYPE html>
<html>
<head>
    <title>NYJC CCA Manager</title>
</head>
    
<body>
    {% if type == 'cca' %}

    <h2>Add a CCA</h2>
    <!-- start of form -->
    <form
        action="/confirm"
        method="post"
        id="cca_info"
    >

    <label for="name">Name of CCA:</label>
        <input 
            id='name'
            type='text'
            name='name'
            placeholder='Nanyang Computing'
            value=''
            size=20
            required=required
            /><br />

    <br />
    <input type='submit' value='Submit'/>
    </form>
    <!-- end of form -->
    
    <p>Is this correct?</p>
    </form>

    {% elif type == 'activity' %}

    <h2>Add an Activity</h2>

    <!-- start of form -->
    <form 
        action="/add" 
        method="post" 
        id="cca_info" 
    >

    <label for="name">Name of Activity:</label>
        <input 
            id='name' 
            type='text' 
            name='name' 
            placeholder='Cyberthon 2022' 
            value='' 
            size=20 
            required=required
            /><br />

    <label for="cca_id">Name of CCA:</label>
        <input 
            id='name' 
            type='text' 
            name='name' 
            placeholder='Cyberthon 2022' 
            value='' 
            size=20 
            required=required
            /><br />

    <label>Activity Duration:</label><br />
        <label for="start_date">Start date:</label>
        <input 
            type="date" 
            id="start_date" 
            name="start_date" 
            required=required
            /><br /> 
        <label for="end_date">End date:</label>
        <input 
            type="date" 
            id="end_date" 
            name="end_date" 
            required=required
            /><br />

    <label for="description">Description of the activity (optional): </label>
        <input
            type="text" 
            id="description" 
            name="description"
            maxlength=300
            value=''
            placeholder="(300 words)"
        /><br />
        
    <br />
    <input type='submit' value='Submit' size=12/>
    </form>
    <!-- end of form -->
    
    <p>Is this correct?</p>


    {% else %}

    <a href='/add?type=cca'>Add a CCA</a><br /> 
    <a href='/add?type=activity'>Add an Activity</a>
    
    
    {% endif %}

</body>
</html>
