<!DOCTYPE html>
<html>
<head>
    <title>NYJC CCA Manager</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}" />
</head>
    
<body>
    {% if type == 'activity' %}
        {% if associated_students is defined %}
            {% set names = associated_students %}
        <!-- information passed into form -->
        <form
        action="/edit?type=activity"
        method="post"
        id="info">
            <label for='name'>Students: </label><br />
            <textarea style="font-size: 16px;" id="name" form="info" name="associated_students" rows="20" cols="30">{% for name in names %}{{ name }}
{% endfor %}</textarea>
            <input type='submit' value='Submit'/>
        </form>
        {% else %}
        <form
        action="/edit?type=activity"
        method="post"
        id="name">
            <label for='name'>Name of activity: </label>
            <input 
            id='name'
            type='text'
            name='name'
            value=''
            size=20
            required="required"/>
            <input type='submit' value='Search'/><br />
        </form>
        {% endif %}
    
    
    {% elif type == 'cca' %}
        {% if associated_students is defined %}
            {% set names = associated_students %}
        <!-- information passed into form -->
        <form
        action="/edit?type=cca"
        method="post"
        id="info">
            <label for='name'>Students: </label><br />
            <textarea style="font-size: 16px;" id="name" form="info" name="associated_students" rows="20" cols="30">{% for name in names %}{{ name }}
{% endfor %}</textarea>
            <input type='submit' value='Submit'/>
        </form>
        {% else %}
        <form
        action="/edit?type=cca"
        method="post"
        id="name">
            <label for='name'>Name of CCA: </label>
            <input 
            id='name'
            type='text'
            name='name'
            value=''
            size=20
            required="required"/>
            <input type='submit' value='Search'/><br />
        </form>
        {% endif %}
    
    {% elif type == 'student' %}
        {% if associated_ccas is defined %}
            {% set ccas = associated_ccas %}
            {% set acts = associated_activities %}
    <!-- information passed into form -->
        <form
        action="/edit?type=student"
        method="post"
        id="info">
            <div class='student_info' id='cca'>
            <label for='cca'>Participating CCAs: </label><br />
            <textarea style="font-size: 16px;" id="name" form="info" name="associated_ccas" rows="20" cols="30">{% for cca in ccas %}{{ cca }}
{% endfor %}</textarea>
            </div>

            <div class='student_info' id='act'>
            <label for='act'>Participating Activity(s): </label><br />
            <textarea style="font-size: 16px;" id="name" form="info" name="associated_activities" rows="20" cols="30">{% for act in acts %}{{ act }}
{% endfor %}</textarea>
            </div>
            
            <input type='submit' value='Submit'/>
        </form>
        {% else %}
        <form
        action="/edit?type=student"
        method="post"
        id="name">
            <label for='name'>Name of Student: </label>
            <input 
            id='name'
            type='text'
            name='name'
            value=''
            size=20
            required="required"/>
            <input type='submit' value='Search'/><br />
        </form>
        {% endif %}
    
    {% else %}
    <!-- new form -->
    <h1>What would you like to do?</h1>
    <div class='mainpage'>
        <p>Do you want to:<br />
            <p class='options'>
                <a href='/edit?type=activity'>Edit a past activity</a><br /><br />
                <a href='/edit?type=cca'>Edit a CCA</a><br /><br />
                <a href='/edit?type=student'>Edit a student</a><br />
            </p>
        </p>
    </div>
    
    {% endif %}

    <br />
    <div id='brought2u'>
    Brought to you by
        H2 computing
    </div>
    
</body>
</html>