<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>NYJC CCA Manager</title>
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}" /> 
</head>
    
<body>
    <h1>What would you like to do?</h1>
    <div class="mainpage">
    <p>Do you want to <br />
        <div class='options'>
        <a href="/add">Add activity/CCA</a><br /><br />
        <a href="/view">View existing activity/class/CCA/student</a><br /><br />
        <a href="/edit">Edit existing activity/CCA/student</a><br /><br />
        </div>
    </p>
    </div>
        
    
    <div id='brought2u'>
    Brought to you by
        H2 computing
    </div>
    
</body>
</html>
